<div class="block" style="background-color: inherit; border-bottom: none; background: none;">
	<div class="block">
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>

			<h2>Message Details</h2>
		</div>		<!-- .block_head ends -->
		<div class="block_content">
		  <div class="message info"><p>You are viewing a past message. You will not be able to edit it.</p></div>
		  
		  <%= form_for(@message) do |f| %>
		    <p>
		      <%= f.label :sender, "From" %><br />
		      <%= f.text_field :sender, :class => "text small", :disabled => 'disabled', :value => @message.sender.name %>
				</p>
				
    		<p>
					<%= f.label :to %><br />
					<input type="text" name="message[to_tokens]" class="text small" disabled="disabled" />
    		</p>
				
				<p>
					<%= f.label :subject %><br />
		      <%= f.text_field :subject, :class => "text small", :disabled => "disabled" %>
				</p>
			
			  <p>
					<%= f.label :message %><br />
		      <%= f.text_area :body, :class => "wysiwyg", :disabled => "disabled" %>
				</p>
				
		    <p>
		      <%= f.label :expires, "Expiration date" %>
		      <%= f.text_field :expires, :class => "text date_picker", :disabled => "disabled" %>
				</p>
				
				<p>
				  <%= f.label :flash, "Message type" %><br />
				  <%= f.select :flash, [['E-Mail and Inbox', false], ['Flash Announcement', true]], {}, :class => "styled", :disabled => "disabled" %>
				</p>
				
				<p align="center">
				  <%= f.submit :class => "submit long alert", :value => "Revoke Message" %>
				</p>
			<% end %>
		</div>		<!-- .block_content ends -->

		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>		<!-- .block ends -->
	
</div>
